body{
    font-size: 18px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.light-green {
    background: #1FAE0A29;
}
.light-red {
    background: #e13f3f4f;
}
.light-orange {
    background: #ffa5006e;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    font-weight: bold;
}



