<header>
  <nav>
      <ul>
          <li><a href="{{ path('test') }}">Accueil</a></li>
          <li><a href="{{ path('liste-locataire') }}">Produits</a></li>
          <li><a href="{{ path('liste-locataire') }}">Contact</a></li>
      </ul>
  </nav>
</header>