<header>
  <nav>
      <ul>
          <li><a href="{{ path('test') }}">Accueil</a></li>
          <li><a href="{{ path('liste-locataire') }}">Locataires</a></li>
          <li><a href="{{ path('liste-appartement') }}">Appartement</a></li>
      </ul>
  </nav>
</header>